h4 {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 8px;
    line-height: 100%;
    letter-spacing: 8%;
    color: #292929;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F5F5F5;
    overflow: hidden;
}

.book-img-container {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.books-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 0px;
}

.book-img {
    border-radius: 0px;
}

.main-content {
    display: grid;
    grid-template-rows: auto auto;
}

.books-section {
    display: grid;
    grid-template-rows: auto;
    gap: 40px;
    margin-bottom: 0px;
    padding: 0px;
}

.book-info-container {
    margin-top: 15px;
    padding: 12px;
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    gap: 16px;
}

.book-title {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
    margin-bottom: 5%;
}

.book-author {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #A6A6A6;
}

.custom-line {
    border: none;
    border-top: 2px solid #A6A6A6;
    margin: 0;
    width: 5%;
}

.book-comment {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #292929;
    margin-top: -2%;
}

.user-section {
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 10px;
    margin-bottom: 64px;
    padding: 12px;
}

.route-path {
    display: none;
}

@media(min-width: 768px) {
    .main-content {
        margin-top: 2%;
        grid-template-columns: 390px 50%;
        grid-template-rows: 523px;
        overflow: hidden;
    }
    .books-all-container {
        padding: 3%;
    }
    .route-path {
        display: block;
        font-family: "Inter", sans-serif;
        font-weight: 300;
        font-style: Light;
        font-size: 10px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #A6A6A6;
        margin-left: 10%;
    }
}

@media(min-width: 1024px) {
    .main-content {
        grid-template-columns: auto;
        grid-template-columns: 520px 50%;
        grid-template-rows: 663px;
    }
    .books-all-container {
        padding: 9%;
    }
}

@media(min-width: 1440px) {
    .main-content {
        grid-template-columns: auto;
        grid-template-columns: 720px 50%;
        grid-template-rows: 863px;
    }
    .books-all-container {
        padding: 15%;
    }
}