.search-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}

.search-title {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 10%;
}
.search-bar-container input{
    width: 100%;
    height: 100%;
}
.search-bar-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
}

.search-input {
    padding-left: 32px;
    height: 36px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #A6A6A6;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0;
    margin-bottom: 1%;
}

.search-icon {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.books-container {
    display: grid;
    grid-template-rows: 1fr;
    padding: 24px;
    overflow: hidden;
    background-color: white;
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    gap: 12px;
}

.pagination-link {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 32px;
    min-height: 32px;
    color: #292929;
    background: #F5F5F5;
    border: 1px solid #A6A6A6;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.2s, color 0.2s;
}

.pagination-link:hover,
.pagination-link.active {
    background: #00AC66;
    color: #fff;
    border-color: #00AC66;
}

@media (min-width: 768px) {
    .search-section {
        display: grid;
        grid-template-columns: 60% 40%;
    }
    .books-grid {
        padding-left: 7%;
        padding-right: 7%;
    }
}