main {
    padding: 20px;
}

.back {
    color:#A6A6A6;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
}

.conversation {
    margin-top: 20px;
}

.receiver-info-grid {
    display: grid;
    grid-template-columns: 48px auto;
    grid-template-rows: auto;
    column-gap: 10px;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.receiver-avatar {
    border-radius: 50%;
    object-fit: cover;
    height: 48px;
    width: 48px;
}

.receiver-nickname {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
}

.receiver-avatar-conversation {
    border-radius: 50%;
    object-fit: cover;
    height: 23px;
    width: 23px;
}

.message-body-sender {
    background-color: #EDF2F6;
    padding: 7px;
    margin-bottom: 15px;
    text-align: right;
}

.message-body-receiver {
    background-color: #ffffff;
    padding: 7px;
    margin-bottom: 15px;
}

.message-body-sender p, .message-body-receiver p {
    margin: 5px;
    word-break: break-word;
    overflow-wrap: break-word;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
}

.receiver {
    display: grid;
    grid-template-columns: auto;
    align-items: end;
    width: fit-content;
    margin-right: auto;
}

.sender {
    display: grid;
    grid-template-columns: auto;
    align-items: start;
    width: fit-content;
    margin-left: auto;
}

.sender-info {
    display: flex;
    justify-content: end;
    gap: 10px;
    margin-bottom: 10px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #A6A6A6;
}

.receiver {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    align-items: center;
}

.receiver-info {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #A6A6A6;
}

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

textarea {
    width: 100%;
    height: 49px;
    padding: 16px 10px 10px 15px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background: #00AC66;
    opacity: 1;
    border-radius: 10px;
    padding-top: 22px;
    padding-right: 38px;
    padding-bottom: 22px;
    padding-left: 38px;
    width: 100%;
    gap: 10px;
    color: white;
    border-color: transparent;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

@media (min-width: 1023px) {
    form {
        flex-direction: row;
    }
    button {
        width: auto;
        height: 49px;
        padding-bottom: 0;
        padding-top: 0;
    }
}