main {
    padding: 20px;
}

.back {
    color:#A6A6A6;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
}

.receiver-info-grid {
    display: grid;
    grid-template-columns: 48px auto;
    grid-template-rows: auto;
    column-gap: 10px;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.receiver-avatar {
    border-radius: 50%;
    object-fit: cover;
    height: 48px;
    width: 48px;
}

.receiver-nickname {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
}

.receiver-avatar-conversation {
    border-radius: 50%;
    object-fit: cover;
    height: 23px;
    width: 23px;
}