h4 {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 8px;
    line-height: 100%;
    letter-spacing: 8%;
    color: #292929;
}

.back-link {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #A6A6A6;
    text-decoration: none;
}

h1 {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 30px;
    letter-spacing: 0%;
    color: #000000;
    margin-right: 35%;
    line-height: 150%;
    padding-left: 21px;
    margin-top: -1px;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F5F5F5;
}

.book-img-container {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: grid;
    grid-template-rows: auto auto auto;
}

.book-img-container p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 11px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #A6A6A6;
}

.book-img-container label, .edit-picture-form{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    color : #292929;
    justify-self: end;
    cursor: pointer;
    text-align: end;
    margin-top: 30px;
}

.edit-picture-form input[type="file"] {
    display: none;
}

.book-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 0px;
}

.book-img {
    border-radius: 0px;
}

.main-content {
    display: grid;
    grid-template-rows: auto auto;
    gap: 32px;
    background-color: white;
    padding: 21px;
    border-radius: 20px;
}

.books-section {
    display: grid;
    grid-template-rows: auto;
    gap: 10px;
    background-color: white;
    border-radius: 20px;
    padding: 0px;
}

.book-info-container { 
    display: grid;
    grid-template-rows: 12px 75px 12px 75px 12px 450px 12px 75px auto;
    gap: 15px 20px;
}

.book-info-container label {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color : #A6A6A6;
}

.book-info-container input, select, textarea
{
    border: none;
    border-radius: 5px;
    background-color: #F0F0F0;
    margin-top: 2px;
    margin-bottom: 20px;
}

.info-title, .info-author, .info-comment, .info-disponibility {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    padding: 12px;
    color: #292929;
}

.book-title {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
    margin-bottom: 5%;
}

.book-author {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #A6A6A6;
}

.custom-line {
    border: none;
    border-top: 2px solid #A6A6A6;
    margin: 0;
    width: 5%;
}

.book-comment {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #292929;
    margin-top: -2%;
}

.user-section {
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 10px;
    margin-bottom: 64px;
    padding: 12px;
}

.route-path {
    margin-top: 30px;
    padding-left: 21px;
}

.edit-picture-label {
    cursor: pointer;
    text-decoration: underline;
}

@media(min-width: 1024px) {
    .main-content {
        margin-top: 2%;
        grid-template-columns: 50% 50%;
        grid-template-rows: 780px;
        padding-left: 10%;
        padding-right: 5%;
    }
    .main-title {
        margin-left: 10%;
        margin-top: 2%;
    }
    .info-comment {
        height: 220px;
    }
    .route-path {
        display: block;
        font-family: "Inter", sans-serif;
        font-weight: 300;
        font-style: Light;
        font-size: 10px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #A6A6A6;
        margin-left: 10%;
    }
    .book-img-container,
    .books-all-container {
        display: grid;
        grid-template-rows: 10px auto 10px 280px;
        padding: 12px; /* Ajoute le padding sur les enfants */
        box-sizing: border-box;
        width: 100%;
        gap: 12px;
    }
    .book-img-container select, textarea, input, .info-disponibility, button {
        font-size: 10px;
        padding: 8px;
    }
    .book-info-container {
        grid-template-rows: 12px 75px 12px 75px 12px 270px 12px 75px auto;
    }
    .book-img-container {
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 280px;
    }

    @media(min-width: 1440px) {
        .book-img-container {
            width: 100%;
            height: 70%;
        }
    }

    @media(min-width: 1620px) {
        .book-img-container {
            width: 60%;
            height: 60%;
        }
        .main-content {
        margin-top: 2%;
        grid-template-columns: 50% 50%;
        grid-template-rows: 780px;
        padding-left: 10%;
        padding-right: 5%;
        }
    }
}