body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #F5F3EF;
}

h2 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.start_img {
    width: 100%;
    height: 503px;
    display: block;
    margin: 1px auto;
}

.intro-section {
    display: grid;
    grid-template-rows: auto 40px;
}

.author_name {
    text-align: end;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: Italic;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #A6A6A6;
    margin-right: 34px;
}

.info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 42px;
}

.info-section h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
}

.info-description {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-style: Light;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
    margin-bottom: 15px;
}

.signup-btn {
    background: #00AC66;
    opacity: 1;
    border-radius: 10px;
    padding-top: 22px;
    padding-right: 38px;
    padding-bottom: 22px;
    padding-left: 38px;
    width: 100%;
    gap: 10px;
    color: white;
    border-color: transparent;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

.books-section {
  padding: 12px;
  margin-bottom: 65px;
}

.books-container {
    display: grid;
    grid-template-rows: 140px 1fr;
    padding: 24px;
    overflow: hidden;
    background-color: white;
}

.books-title {
    grid-row: 1;
    align-self: center;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 16px;
}

.books-grid {
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 16px;
  box-shadow: #00000003;
}

.book-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.book {
    display: grid;
    grid-template-rows: auto 30px 30px 40px;
    box-shadow: 0px 3.2px 19.2px 0px #00000003;
}

.book .book-title {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0%;
}

.book .book-author {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 11px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #A6A6A6;
}

.book .book-seller {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: Italic;
    font-size: 8px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #A6A6A6;
}

.cta-section {
    display: grid;
    grid-template-rows: 50px 50px 636px 95px;
    padding: 24px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.cta-wrapper {
    width: 100%;
    padding: 12px;
    display: grid;
    grid-template-rows: repeat(4, 159px);
    text-align: center;
    justify-content: center;
    align-items: center;
}

.cta-title {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

.cta-subtitle {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-style: Light;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #292929;
}

.cta-card{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #292929;
}

.cta-btn {
    opacity: 1;
    border-radius: 10px;
    padding-top: 22px;
    padding-right: 38px;
    padding-bottom: 22px;
    padding-left: 38px;
    gap: 10px;
    color: #00AC66;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    border: 2px solid #00AC66;
    margin-bottom: 1%;
}

.value-section {
    display: grid;
    grid-template-rows: 425px 575px 1fr;
}

.value-content {
  padding: 26px;
  display: flex;
  flex-direction: column;
}

.value-title {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 25px;
}

.value-description {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-style: Light;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #292929;
  margin-bottom: 35px;
}

.value-section .author_name {
  text-align: start;
}

.value-img-mobile {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.value-img-desktop {
  display: none;
}

.vectorlove-img {
    width: 120px;
    height: 102px;
    justify-self: center;
    margin-bottom: 35px;
}

.books-btn {
    display: none;
}

/* Responsive pour desktop */
@media (min-width: 768px) {
  /* Ordre des classes selon l'ordre du HTML */
  .header-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
    align-items: start;
    flex-direction: row-reverse;
    padding-left: 6%;
    padding-right: 6%;
  }
  .header-flex {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 56px;
    padding-bottom: 56px;
  }
  .intro-section {
    align-self: start;
    flex: 1 1 0;
  }
  .intro-section img {
    object-fit: cover;
    width: 100%;
  }
  .info-section {
    align-self: center;
    text-align: left;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1 1 0;
  }
  .books-section {
    padding: 12px;
  }
  .books-grid {
    grid-template-columns: 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    padding-left: 12%;
    padding-right: 12%;
  }
  .books-btn {
    display: inline-block;
    background: #00AC66;
    opacity: 1;
    border-radius: 10px;
    padding-top: 22px;
    padding-right: 38px;
    padding-bottom: 22px;
    padding-left: 38px;
    gap: 10px;
    color: white;
    border-color: transparent;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 20px;
  }
  .cta-section {
    grid-template-rows: 4em 4em 9em 10em;
    margin-bottom: 56px;
  }
  .cta-subtitle {
    padding-left: 25%;
    padding-right: 25%;
  }
  .cta-card {
    padding-left: 8%;
    padding-right: 8%;
  }
  .cta-wrapper {
    padding: 12px;
    display: grid;
    grid-template-rows: none ;
    grid-template-columns: 1fr;
    grid-template-columns: repeat(4, 1fr);
  }
  .signup-btn {
    width: auto;
  }
  .btn-container {
    display: flex;
    justify-content: center;
  }
  /* Autres classes secondaires */
  .start_img {
    width: 355px;
    height: 539px;
  }
  .value-img-desktop {  
    display: block;
    width: 100%;
    height: 150px;
  }
  .value-img-mobile{
    display: none;
    width: 0px;
  }
  .value-section {
    grid-template-rows: 1fr;
  }*
  .value-content {
    padding-top: 56px;
    padding-bottom: 56px;
    padding-left: 25%;
    padding-right: 25%;
  }
  .vectorlove-img {
    margin-left: 35%;
    margin-top: -8%;
  }
}

@media (min-width: 1400px) {
  .value-img-desktop {  
    display: block;
    width: 100%;
    height: 230px;
  }

  .value-content {
    padding-left: 35%;
    padding-right: 35%;
  }
}