.conversation-grid {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 1fr 1fr;
    gap: 0.5em;
    align-items: center;
    padding: 1.8em;
    margin-bottom: 2%;
}

.conversation-picture { 
    grid-row: 1/3;
    grid-column: 1/2;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
}

.conversation-nickname {
    grid-row: 1 / 2;
    grid-column: 2 / 4;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;

}

.conversation-message {
    grid-row: 2 / 3;
    grid-column: 2 / 4;
    color: #A6A6A6;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
}

.conversation-date {
    grid-row: 1/2;
    grid-column: 3/4; /* sur toute la largeur */
    color: black;
    text-align: right;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-right: 10px;
}

.main-title {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-left: 28px;
}