name: PHP CI

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'
      - name: Install dependencies
        run: composer install
      - name: Dump autoload
        run: composer dump-autoload
      - name: Make phpunit executable
        run: chmod +x ./vendor/bin/phpunit
      - name: Run RelationEntityTest tests
        run: ./vendor/bin/phpunit tests/domain/Entity/RelationEntityTest.php
      - name: Run BookManager tests
        run: ./vendor/bin/phpunit tests/application/BookManagerTest.php
      - name: Run RelationService tests
        run: ./vendor/bin/phpunit tests/application/BookHelperTest.php